.contribute-card {
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #ffffff;
  text-decoration: none;
  flex: 1;
  min-width: 140px;
  height: 100%;
  box-shadow: inset 0 0 18px rgba(179, 196, 255, 0.43);
}

/* Title */
.contribute-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
  color: #111827;
}

/* Description */
.contribute-description {
  font-size: 12px;
  margin-top: 6px;
  color: #6b7280;
  line-height: 1.5;
}


.no-link-style {
  text-decoration: none;
  color: inherit;
  display: block;
}
