.shimmerCard { 
    background: #09141C80 !important; 
    padding: 1em; 
    box-shadow: none;
    text-align: center;
    width: 250px;  
    cursor: pointer;
    border-radius: 7px;
    position: relative; 
}

.shimmerCard:hover {
    background: #09141C80;
    box-shadow: none;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.shimmerCard::after, .shimmerCard::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 9px;
    padding: 2px;
    background: conic-gradient(from var(--angle), transparent 80%, #fff);
    animation: spin 2s linear infinite;
    z-index: 0;

    /* Border effect only */
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

@keyframes spin{
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


.shimmerText {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  text-transform: none;
  z-index: 2;
  position: relative;
}