.featured-resources-container {
  background: #0C1217;
  padding: 24px 36px;
  border-radius: 10px;
  margin-top: 40px;
}

.featured-resources-header {
  background: #000000;
  border-radius: 100px;
  width: fit-content;
  padding: 5px 21px;
  border: 0.6px solid;
  border-image: linear-gradient(90deg, #E5E8EC 0%, rgba(19, 253, 253, 0.43) 100%) 1;
  margin-bottom: 24px;
}

.featured-resources-header span {
  color: white;
  font-size: 13px;
  font-weight: 400;
  background: linear-gradient(90deg, #E5E8EC 0%, #13FDFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resource-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.resource-card {
  width: 182px;
  height: 164px;
  background-color: #0C1217;
  border: 1px solid #18252F;
  border-radius: 10px;
  padding: 9px 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resource-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.resource-title {
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}

.views {
  font-size: 11px;
  color: #D9D9D9;
  display: flex;
  align-items: center;
  gap: 5px;
}
