.event-screen{
  padding-bottom: 3rem;
}
.events-container {
  background-color: #010A10;
  color: white;
  min-height: 100vh;
  padding: 1rem;
  width: 70%;
  font-family: "Inter", sans-serif;
}
.outerBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;   
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0c1217;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.progress-step {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.circle.completed {
  background-color: #00bfff;
  border-color: #00bfff;
  color: white;
}

.circle.current {
  border-color: #00bfff;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #00bfff;
  border-radius: 50%;
}

.label {
  margin-top: 6px;
  font-size: 12px;
  color: #ccc;
}

.line {
  position: absolute;
  top: 14px;
  left: 100%;
  width: 80px;
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.line.active {
  background-color: #00bfff;
}