/* Base document styling */
/* html {
  min-height: 100vh;
  background-color: #010A10;
} */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Consistent box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
