.announcementContainer{
    background: linear-gradient(to bottom, #0F1C25 0%, #0C1217 100%);
    border-radius: 12px;
    padding: 48px 56px;
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.announcementContainerParent{
    display: flex; 
    border-radius: 12px;
    padding: 0.8px; 
    background: linear-gradient(180deg, #E5E8EC 0%, #E5E8EC 25%, #E5E8EC 50%, #E5E8EC 75%, #000000 100%);
    width: fit-content;
    width: 594px; 
    height: 100%;
}

.carousal {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: max-content;  
  animation: scrolling 20s linear infinite; 
}

.group {
  display: flex;
  padding-right: 34px;
}

.carousal:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* only shift by half since we duplicated */
  }
}